HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Docker ###
# Ignorar la carpeta donde se guardan los datos de la BD local
data/
postgres-data/
.env

### IDEs (por si acaso) ###
.idea/
*.iml
.vscode/
.DS_Store

### Configuración Local y Secretos ###
docker-compose.yml
src/main/resources/application.yml
